<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Billboard Jams</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Hot 100 1960-2018
            <img class="nav-vinyl" src="static/images/vinyl-record-svgrepo-com.svg">
          </a>
          <a class="navbar-brand" href="chart.html">Search
          </a>
          <a class="navbar-brand" href="about.html">About   
        </a>
        </div>
      </div>
    </nav>
    <div class="text-center">
      <h1>Music Data Stuff</h1>
      <p>Insert Stuff here</p>
    </div>
    <footer class="footer">
        <span class="bottom">Hot 100!</span>
    </footer>    
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="static/js/data.js"></script>
  <script src="static/js/app.js"></script>
</body>

</html>
